<!--The whole content below can be removed with the new code.-->
the value is: {{questionInfo?.value}} <br>
the question is: {{questionInfo?.question}} <br>
the Category is: {{questionInfo?.category.title}} <br>
the current score is: {{score}} <br>

<div>
  Provide Answer:  <input  [(ngModel)]="answer" type="text"> 
</div>


<button (click)="youClickedMe(test)">Submit the answer</button> <br>



<div *ngIf="showAnswer">
{{showAnswer}} <br>
{{reply}} <br>
<button (click)="nextQuestion()">Next Question</button> <br>
</div>